<div *ngIf="pet">
    <h3>Editing : {{editName}}</h3>
    <form (ngSubmit)="save()" #editForm="ngForm">
        <div>
            <label>Id: {{p.idpet}}</label>
        </div>
        <div class="form-group">
            <label>Name</label>
            <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
            <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                <div *ngIf="f.name.errors.required">Name is required</div>
            </div>
        </div>
        <div class="form-group">
            <label>Age</label>
            <input type="text" formControlName="Age" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Age.errors }" />
            <div *ngIf="submitted && f.Age.errors" class="invalid-feedback">
                <div *ngIf="f.Age.errors.required">Age is required</div>
            </div>
        </div>
        <div class="form-group">
            <label>Email</label>
            <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Email is required</div>
                <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
            </div>
        </div>
        <button type="submit" id="save" [disabled]="!editForm.form.valid">Save</button>
        <button (click)="cancel() " id="cancel ">Cancel</button>
    </form>
</div>