<div *ngIf="pet">
    <h3>Editing : {{editName}}</h3>
    <form (ngSubmit)="save()" #editForm="ngForm">
        <div>
            <label>Id:</label> {{p.idpet}}
        </div>
        <div>
            <label for="name">Name:</label>
            <input id="name" name="name" class="form-control" [(ngModel)]="editName" #name="ngModel" required>

            <div *ngIf="name.invalid && (name.dirty || name.touched)" style="color: red">

                <div *ngIf="name.errors.required">
                    Name is required.
                </div>
            </div>
        </div>
        <div>
            <label>race:</label>
            <input [(ngModel)]=" editRace " name="race " id="race " value="pet.race" />
        </div>
        <div [hidden]="race.valid || race.pristine" style="color: red">
            Race is required
        </div>
        <div>
            <label for="Age">Age:</label>
            <input [(ngModel)]=" editAge " name="Age " id="Age " value="pet.age" />
        </div>
        <div [hidden]="Age.valid || Age.pristine" style="color: red">
            Age is required
        </div>
        <button type="submit" id="save" [disabled]="!editForm.form.valid">Save</button>
        <button (click)="cancel() " id="cancel ">Cancel</button>
    </form>
</div>