<header id="header">
    <div class="container">
        <div id="logo" class="pull-left">
            <a href="index.html"><img src="../../assets/img/logo-nav.png" alt="" title="" />
            </a>
            <!-- Uncomment below if you prefer to use a text image -->
            <!--<h1><a href="#hero">Bell</a></h1>-->
        </div>

        <nav id="nav-menu-container">
            <ul class="nav-menu">
                <li><a href="#about">About Us</a></li>
                <li><a href="#portfolio">Our Pets</a></li>
                <li><a href="#team">Our Team</a></li>
                <li class="menu-has-children"><a href="#">More Options</a>
                    <ul>
                        <li class="menu-has-children"><a href="#">Go directly to
              :</a>
                            <ul>
                                <li><a href="#">Dogs Category</a></li>
                                <li><a href="#">Cats Category</a></li>
                                <li><a href="#">Rodents Category</a></li>
                                <li><a href="#">Exotic Pets Category</a></li>
                                <li><a href="#">All Categories</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Admin options : <!-- ici chercher comment cacher et afficher des menus si admin --></a>
                            <ul>
                                <li><a href="#">Manage Pets</a></li>
                                <li><a href="#">Manage Users</a></li>
                                <li><a href="#">Manage transfer forms</a></li>
                                <li><a href="#">Manage adoption forms</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Host Family options : <!-- ici chercher comment cacher et afficher des menus si FA --></a>
                            <ul>
                                <li><a href="#">Manage Pets</a></li>
                                <li><a href="#">Create transfer forms</a></li>
                                <li><a href="#">Manage adoption forms</a></li>
                            </ul>
                        </li>
                        <li><a href="#">I want to become an adopter</a></li>
                    </ul>
                </li>
                <li><a href="#contact">Contact Us</a></li>
            </ul>
        </nav>
        <!-- #nav-menu-container -->

        <nav class="nav social-nav pull-right d-none d-lg-inline">
            <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i
      class="fa fa-linkedin"></i></a> <a href="#"><i
      class="fa fa-envelope"></i></a>
        </nav>
    </div>
</header>