<body>
    <div class="main">
        <div class="container">
            <div class="signup-content">
                <div class="signup-img">
                    <img src="../../assets/img/cover.jpeg" alt="">
                    <div class="signup-img-content">
                        <h2>Ajout d'un Pet</h2>
                    </div>
                </div>
                <div class="signup-form">
                    <form method="POST" class="register-form" id="register-form" #addPetForm="ngForm" (ngSubmit)="saveOrUpdatePet(addPetForm)">
                        <div class="form-row">
                            <div class="form-group">
                                <div class="form-input">
                                    <label for="Name" class="required">name</label>
                                    <input type="text" name="Name" id="Name" required [(ngModel)]="pet.name" />
                                </div>
                                <div class="form-input">
                                    <label for="Race" class="required">Race</label>
                                    <input type="text" name="Race" id="Race" required [(ngModel)]="pet.race" />
                                </div>
                                <div class="form-input">
                                    <label for="Age" class="required">Age</label>
                                    <input type="number" name="Age" id="Age" required [(ngModel)]="pet.age" />
                                </div>
                                <div class="form-submit">
                                    <input type="submit" value="Submit" class="submit" id="submit" name="submit" />
                                    <!-- <input value="Reset" class="submit" id="reset" name="reset" /> -->
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <table>
        <tr>
            <th *ngFor="let head of headsTab">{{head}}</th>
            <th></th>
            <th></th>
        </tr>
        <tr class="{{customer.id}}" *ngFor="let customer of searchCustomersResult">
            <td>{{Pet.name}}</td>
            <td>{{Pet.Race}}</td>
            <td>{{Pet.Age}}</td>
            <td><button value="Update" class="button-update-customer" (click)=setUpdateCustomer(customer)>Update</button></td>
            <td><button value="Delete" class="button-delete-customer" (click)=deleteCustomer(customer)>Delete</button></td>
        </tr>
    </table>

</body>