<body>

    <div class="main">
        <div>
            <h2 style="text-align: center; margin-bottom: 10px;">Add a Pet</h2>
        </div>
        <div class="container">

            <div class="signup-content">

                <div class="signup-form">
                    <form method="POST" class="register-form" id="register-form" #addPetForm="ngForm" (ngSubmit)="saveOrUpdatePet(addPetForm)">

                        <div class="form-row">
                            <div class="form-group">
                                <div class="form-input ${status.error ? 'has-error' : ''}">
                                    <label for="Name" class="required">name</label>
                                    <input type="text" name="Name" path="name" id="Name" required [(ngModel)]="pet.name" />
                                </div>
                                <div class="form-input">
                                    <label for="Race" class="required">Race</label>
                                    <input type="text" name="Race" id="Race" required [(ngModel)]="pet.race" />
                                </div>
                                <div class="form-input">
                                    <label for="Age" class="required">Age</label>
                                    <input type="number" name="Age" id="Age" required [(ngModel)]="pet.age" />
                                </div>
                                <div class="form-submit">
                                    <input type="submit" value="Submit" class="submit" id="submit" name="submit" />
                                    <!-- <input value="Reset" class="submit" id="reset" name="reset" /> -->
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>