<section class="hero">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-12">
                <a class="hero-brand" href="index.html" title="Home"> <img alt="Bell Logo" src="../../assets/img/logo.png"></a>
            </div>
        </div>

        <div class="col-md-12">
            <h1>Adopt A Pet</h1>

            <p class="tagline">Don't buy your companion, choose adoption.</p>
            <a class="btn btn-full" href="#about">Get Started</a>
        </div>
    </div>

</section>