<section class="about" id="about" #about>
    <div class="container text-center">
        <h2>About Our Association</h2>

        <p>We are an Association </p>

        <div class="row stats-row">
            <div class="stats-col text-center col-md-3 col-sm-6">
                <div class="circle">
                    <span class="stats-no" data-toggle="counter-up" value=NbPet()></span> Number of Animals
                </div>
            </div>

            <div class="stats-col text-center col-md-3 col-sm-6">
                <div class="circle">
                    <span class="stats-no" data-toggle="counter-up">50</span> Number of Host Family
                </div>
            </div>

            <div class="stats-col text-center col-md-3 col-sm-6">
                <div class="circle">
                    <span class="stats-no" data-toggle="counter-up">35</span> Number of Adopters
                </div>
            </div>

            <div class="stats-col text-center col-md-3 col-sm-6">
                <div class="circle">
                    <span class="stats-no" data-toggle="counter-up">4</span> Number of Users
                </div>
            </div>
            <div class="container text-center" style="margin-top: 20px;">
                <a class="btn btn-full" routerLink="/login">Connexion</a> <a class="btn btn-full" routerLink="/pets">See our pets</a> <a class="btn btn-full" routerLink="/registration">Inscription</a>
            </div>
        </div>
    </div>
</section>

<!-- /Call to Action -->
<!-- Portfolio -->

<section class="portfolio" id="portfolio">
    <div class="container text-center">
        <h2>Our Animals</h2>

        <p>From here you can directly choose a category or see all the animals
        </p>
    </div>

    <div class="portfolio-grid">
        <div class="row">
            <div class="col-lg-3 col-sm-6 col-xs-12">
                <div class="card card-block">
                    <a href="#"><img alt="" src="../../assets/img/dogs.jpg">
                        <div class="portfolio-over">
                            <div>
                                <h3 class="card-title">Dogs Category</h3>

                                <p class="card-text">See all our Doggy</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6 col-xs-12">
                <div class="card card-block">
                    <a href="#"><img alt="" src="../../assets/img/cats.jpg">
                        <div class="portfolio-over">
                            <div>
                                <h3 class="card-title">Cats Category</h3>

                                <p class="card-text">See all our cuty Cats</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6 col-xs-12">
                <div class="card card-block">
                    <a href="#"><img alt="" src="../../assets/img/rodents.jpg">
                        <div class="portfolio-over">
                            <div>
                                <h3 class="card-title">Rodents Category</h3>

                                <p class="card-text">See all our little Rodents</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6 col-xs-12">
                <div class="card card-block">
                    <a href="#"><img alt="" src="../../assets/img/exotics.jpg">
                        <div class="portfolio-over">
                            <div>
                                <h3 class="card-title">Exotics pets Category</h3>

                                <p class="card-text">See all our Exotics Pets</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6 col-xs-12">
                <div class="card card-block">
                    <a routerLink='/pets'><img alt="" src="../../assets/img/all.jpg">
                        <div class="portfolio-over">
                            <div>
                                <h3 class="card-title">All Categories</h3>

                                <p class="card-text">See all our Pets</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- /Portfolio -->
<!-- Team -->

<section class="team" id="team">
    <div class="container">
        <h2 class="text-center">Meet our team</h2>

        <div class="row" style="object-position: center;">
            <div class="col-sm-3 col-xs-6">
                <div class="card card-block">
                    <a href="#"><img alt="" class="team-img" src="../../assets/img/damien.jpg">
                        <div class="card-title-wrap">
                            <span class="card-title">Damien Bertinaria</span> <span class="card-text">President</span>
                        </div>

                        <div class="team-over">
                            <h4 class="hidden-md-down">Find me on social media</h4>

                            <nav class="social-nav">
                                <a href="#"><i class="fa fa-linkedin"></i></a> <a href="#"><i
                  class="fa fa-envelope"></i></a>
                            </nav>

                            <p>Lorem ipsum dolor sit amet, eu sed suas eruditi honestatis.
                            </p>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-sm-3 col-xs-6">
                <div class="card card-block">
                    <a href="#"><img alt="" class="team-img" src="../../assets/img/nina.jpg">
                        <div class="card-title-wrap">
                            <span class="card-title">Nina Chrétien</span> <span class="card-text">President</span>
                        </div>

                        <div class="team-over">
                            <h4 class="hidden-md-down">Find me on social media</h4>

                            <nav class="social-nav">
                                <a href="#"><i class="fa fa-linkedin"></i></a> <a href="#"><i
                  class="fa fa-envelope"></i></a>
                            </nav>

                            <p>Lorem ipsum dolor sit amet, eu sed suas eruditi honestatis.
                            </p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- /Team -->
<!-- @component: footer -->

<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 class="section-title">Contact Us</h2>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-3 col-md-4">
                <div class="info">
                    <div>
                        <i class="fa fa-map-marker"></i>
                        <p>
                            33 Avenue du Maine<br>Paris, 75014
                        </p>
                    </div>

                    <div>
                        <i class="fa fa-envelope"></i>
                        <p>adoptapet@gmail.com</p>
                    </div>

                    <div>
                        <i class="fa fa-phone"></i>
                        <p>+33 XX XX XX XX</p>
                    </div>

                </div>
            </div>

            <div class="col-lg-5 col-md-8">
                <div class="form">
                    <div id="sendmessage">Your message has been sent. Thank you! We will give you an answer in the best delays</div>
                    <div id="errormessage"></div>
                    <form action="" method="post" role="form" class="contactForm">
                        <div class="form-group">
                            <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                            <div class="validation"></div>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                            <div class="validation"></div>
                        </div>
                        <div class="form-group">
                            <select name="type" class="form-control" name="subject" id="subject">
                <option>Please choose the subject of your mail :</option>
                <option value="pet">Informations about a pet</option>
                <option value="host_fa">I want to be a Host Family</option>
                <option value="adoption">I have a pet to be adopted</option>
                <option value="center">Add a center to the list of
                  partner centers</option>
                <option value="other">Other Reasons</option>
              </select>
                            <div class="validation"></div>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                            <div class="validation"></div>
                        </div>
                        <div class="text-center">
                            <button type="submit">Send Message</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</section>