<table class="table table-striped table-bordered">
    <tr>
        <th hidden="true">idPet</th>
        <th>Name</th>
        <th>Race</th>
        <th>Age</th>
    </tr>

    <!-- loop over and print our customers -->
    <tr *ngFor="let p of pets">
        <td hidden="true">{{p.idpet}}</td>
        <td>{{p.name}}</td>
        <td>{{p.race}}</td>
        <td>{{p.age}}</td>
        <td>
            <!-- display the update link -->
            <a> <i class="fas fa-user-edit"></i>
            </a> |
            <a>
                <i class="fas fa-user-times"></i>
            </a>
        </td>

    </tr>

</table>