<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
<table class="table table-striped table-bordered">
    <th>idpet</th>
    <th>Name</th>
    <th>Race</th>
    <th>Age</th>

    <!-- loop over and print our customers -->
    <tr *ngFor="let p of pets">
        <td>{{p.idpet}}</td>
        <td>{{p.name}}</td>
        <td>{{p.race}}</td>
        <td>{{p.age}}</td>
        <td>
            <!-- display the update link -->
            <a [routerLink]="['/formulaireUpdate', p.idpet]">
                <i class="fas fa-user-edit "></i>
            </a> |
            <a (click)="deletePet(p.idpet) ">
                <i class="fas fa-user-times "></i>
            </a>
        </td>

    </tr>

</table>

<div class="container-login100-form-btn ">
    <button class="login100-form-btn " routerLink='/formulairePet'>
        Add a Pet
    </button>
</div>